.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.hidden {
  display: none;
}

.background-style {
  background-color: lightgray;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 2px darkgray;

}

.image-style {
  width: 50%;
  border-radius: 10px;
}